<%= simple_form_for([@profile, @service], url: profile_services_path, method: :post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :date %>
  </div>

  <div class="form-inputs">
    <%= f.input :address %>
  </div>

  <% if params[:action] != 'new' %>
    <div class="form-inputs">
      <%= f.input :status, collection: ['Sent', 'Accepted', 'Declined', 'Payed'] %>
    </div>
  <% end %>

  <div class="form-actions">
    <% if params[:action] != 'new' %>
      <%= f.button :submit, 'Modify tutoring', class: 'btn btn-primary' %>
    <% else %>
      <%= f.button :submit, 'Create tutoring', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>

