<!-- il faut render la navbar -->
  <div class="container_tickets">


    <div class="container_tickets_2">

    <div class="status-appointment">
      <div class="card-grid-user">
        <h1>Tutoring Booked</h1>
        <h1>Upcoming Tutorings</h1>
        <div class="card-grid-user-status">
          <!-- faire une boucle pour que chaque student affiche sa carte -->
          <% @booked_services.each do |service| %>
             <%= link_to edit_profile_service_path(@profile, service) do %>
            <%= render './shared/card', profile: @profile, service: service %>
          <% end %>
          <% end %>
        </div>
        <div class="card-grid-user-status">
          <% @received_services.each do |service| %>
          <%= link_to edit_profile_service_path(@profile, service) do %>
            <%= render './shared/card', profile: @profile, service: service %>
          <% end %>
          <% end %>
        </div>

      </div>

    </div>

      <h1>Tutorings done</h1>
    <div class="row">
      <div class="card-grid-container-done">
        <% @archived_services.each do |service| %>
          <%= link_to profile_service_path(@profile, service) do %>
            <%= render './shared/card', profile: @profile, service: service %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
