
<div class="card-product">
  <img src="https://unsplash.com/photos/FcLyt7lW5wg" />
  <div class="card-product-infos">
    <h2><strong>Booking confirmed!</strong></h4>
    <h2><%# @service.name %></h2>
    <p><strong>Availabilities:</strong> <%= @service.date %></p>
    <p><strong>Address:</strong> <%= @service.address %></p>
    <p><strong>Status:</strong> <%= @service.status %></p><br>
    <p><%= link_to "Back to your bookings", profile_services_path %></p>
    <p><%= link_to "Modify booking", edit_profile_service_path %></p>
  </div>
</div>


<!-- profiles_path(@profile) -->
<!-- profile_services_path(current_user) -->
<!-- profile_service_path(@profile, @service) -->
<!-- edit_profile_service_path(@profile, @service) -->
