
<div class="card-product">
  <img src="https://unsplash.com/photos/FcLyt7lW5wg" />
  <div class="card-product-infos">

    <% if params[:created] == 'true' %>
      <h2><strong>Tutoring confirmed!</strong></h4>
    <% else %>
      <h2><strong>Tutoring modified!</strong></h4>
    <% end %>

    <h2><%# @service.name %></h2>
    <p><strong>Availabilities:</strong> <%= @service.date %></p>
    <p><strong>Address:</strong> <%= @service.address %></p>

    <% if !params[:created] %>
      <p><strong>Status:</strong> <%= @service.status %></p><br>
    <% end %>

    <p><%= link_to "Back to your tutorings", profile_services_path %></p>
    <p><%= link_to "Modify tutoring", edit_profile_service_path %></p>
  </div>

    <div class="card-profile-infos">
      <p><%= @service.teacher.name %></p>

      <p><%= @service.teacher.email %></p>

      <p><%= @service.teacher.address %></p>

      <p><%= @service.teacher.price %></p>

      <p><%= @service.teacher.simple_description %></p>

      <p><%= @service.teacher.detailed_description %></p>

      <p><%= @service.teacher.experience %></p>

      <p><%= @service.teacher.social_networks %></p>

      <p><%= @service.teacher.keyword %></p>

      <p><%= @service.teacher.address %></p>


      <% if @service.teacher.photo.attached? %>

      <%= cl_image_tag @service.teacher.photo.key, height: 300, width: 400, crop: :fill %>
      <%end  %>

    </div>
</div>


