<%= simple_form_for(@profile, url: profile_path, method: :patch) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.input :address %>
  </div>

  <div class="form-inputs">
    <%= f.input :email %>
  </div>

  <div class="form-inputs">
    <%= f.input :price %>
  </div>

  <div class="form-inputs">
    <%= f.input :simple_description %>
  </div>

  <div class="form-inputs">
    <%= f.input :detailed_description %>
  </div>

  <div class="form-inputs form-horizontal">
    <%= f.input :experience, as: :radio_buttons, collection: [
      ['Junior (up to 2 years)'],
      ['Mid-level (2-7 years)'],
      ['Senior (over 7 years)']
    ], label_method: :first, value_method: :first, wrapper: :vertical_collection_inline%>
  </div>

  <div class="form-inputs">
    <%= f.input :social_networks, :label => "Show us your good work!", placeholder:"https://github.com/marcodu71" %>
  </div>

  <div class="form-inputs">
    <%= f.input :keyword, :label => "Areas of expertise", collection: ['Back-end', 'Front-end', 'Full stack'], as: :radio_buttons, wrapper: :vertical_collection_inline %>
  </div>

  <div class="form-inputs">
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions btn btn-primary">
    <%= f.button :submit %>
  </div>

<% end %>

<!-- , item_label_class: 'my-custom-class' -->


