<%= simple_form_for(@profile, url: profile_path, method: :patch) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="container">
      <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :address %>
      </div>

      <div class="form-inputs">
          <%= f.input :email %>
          <%= f.input :price %>
      </div>


      <div class="form-input">
          <%= f.input :simple_description %>
          <%= f.input :detailed_description %>
      </div>



      <div class="form-inputs-collection ">
        <%= f.input :experience, as: :radio_buttons, collection: [
          ['Junior (up to 2 years)'],
          ['Mid-level (2-7 years)'],
          ['Senior (over 7 years)']
        ], label_method: :first, value_method: :first %>

        <%= f.input :keyword, :label => "Areas of expertise", collection: ['Back-end', 'Front-end', 'Full stack'], as: :radio_buttons %>
      </div>

      <div class="form-input">
        <%= f.input :social_networks, :label => "Show us your good work!", placeholder:"https://github.com/marcodu71" %>
      </div>

      <div class="form-input">
        <%= f.input :photo, as: :file %>
      </div>

    </div>

      <div class="form-actions button-color">
        <%= f.button :submit %>
      </div>
      <br>

<% end %>

<!-- , item_label_class: 'my-custom-class' -->


