
  <div class="container_search_TA">
    <h1 id="select_TA"> Select your Teaching Assistant 🤓</h1>
    <div class="filters">Inserer formulaire de recherche </div>
    <div class="row cards_search_TA">
      <% @profiles.each do |profile| %>
      <div class="card_search_TA">
        <p><%= profile.name %></p>
        <p><%= profile.simple_description %></p>
        <p><%= profile.keyword %></p>
        <p><%= profile.price%></p>
          <%= link_to 'details', profile_path(profile) %>
      </div>
      <% end %>



