<p><%= @profile.name %></p>

<p><%= @profile.email %></p>

<p><%= @profile.address %></p>

<p><%= @profile.price %></p>

<p><%= @profile.simple_description %></p>

<p><%= @profile.detailed_description %></p>

<p><%= @profile.experience %></p>

<p><%= @profile.social_networks %></p>

<p><%= @profile.keyword %></p>

<p><%= @profile.address %></p>

<% if @profile.photo.attached? %>
<%= cl_image_tag @profile.photo.key, height: 300, width: 400, crop: :fill %>
<% else  %>
<%= image_tag("prof.jpg")  %>
<%end  %>


<h3><%= link_to 'Book your TA' , new_profile_service_path(@profile) %></h3>

<h3><%= link_to 'Update your profile' , edit_profile_path(@profile) %></h3>








