<p><%= @profile.name %></p>

<p><%= @profile.email %></p>

<p><%= @profile.address %></p>

<p><%= @profile.price %></p>

<p><%= @profile.simple_description %></p>

<p><%= @profile.detailed_description %></p>

<p><%= @profile.experience %></p>

<p><%= @profile.social_networks %></p>

<p><%= @profile.keyword %></p>

<p><%= @profile.address %></p>

<%= cl_image_tag @profile.photo.key, height: 300, width: 400, crop: :fill %>











