<div class="card-trip">
  <% if service.teacher == current_user %>
    <%= service.student.photo.attached? ?
        image_tag(service.student.photo) :
        image_tag("prof.jpg")  %>
  <% else %>
    <%= service.teacher.photo.attached? ?
        image_tag(service.teacher.photo) :
        image_tag("prof.jpg")  %>
  <% end %>

  <div class="card-trip-infos">
    <div>
      <% if service.teacher == current_user %>
        <h2><%= service.student.name %></h2>
        <h2><%= service.student.name %></h2>
      <% else %>
        <h2><%= service.teacher.name %></h2>
      <% end %>
      <p><%= service.date %></p>
    </div>
    <h2 class="card-trip-pricing"><%= service.teacher.price %>€</h2>
  </div>
</div>
