<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div id='test'>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class= " d-flex ">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
     <!--  <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a> -->
            <%= link_to "Home", root_path, class:"nav-link" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Be a TA", profile_path(current_user), class:"nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Find a TA", profiles_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "My tickets", profile_services_path(current_user), class:"nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"nav-link" %>
            </li>
            <% else %>
              <li class="nav-item">
              <%= link_to "Sign in", new_user_session_path, class:"nav-link" %>
            </li>
            <%end%>
        </ul>
      </div>
    </div>
    <div>

    <% if (user_signed_in?&&current_user.photo.attached?) %>
    <%= image_tag current_user.photo, class: "avatar-large", alt: "avatar-large" %>
    <% end %>
    </div>
  </div>
</nav>



